<div class="done-contents">
  <div class="done-message">
    <h1>更新が完了しました</h1>
  </div>
  <div class="done-btn">
    <%= link_to "マイページへ", "/producers/#{current_producer.id}", {class: "d-btn"}%>
  </div>
</div>