html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}
.container { 
  min-height: 100vh;
  position: relative;
  padding-bottom: 120px;/*←footerの高さ*/
  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}


.header{
  height: 32vh;
  background-image: image-url('1283118_s.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.title h1 {
  font-size: 60px;
  color: white;
  font-family: "Comic Sans MS";
  padding-top: 20px;
}
.c1{
  color: #0FF;
}
.title p {
  font-size: 20px;
  padding-top: 20px;
  color: white;
}
.btn ul {
  display: flex;
  justify-content: flex-end;
}
.left {
  border: 1px red solid;
  border-radius: 8px;
  background-color: red;
  margin-top: 20px;
  margin-right: 10px;
}
.center {
  border: 1px purple solid;
  border-radius: 8px;
  background-color: purple;
  margin-top: 20px;
  margin-right: 10px;
}
.right {
  border: 1px fuchsia solid;
  border-radius: 8px;
  background-color:fuchsia;
  margin-top: 20px;
  margin-right: 10px;
}
.btn a {
  text-decoration: none;
  color: white;
}





.contents{
  background-color: white;
  text-align: center;
}
.contents h2 {
  font-size: 20px;
  color: red;
  margin: 20px 0;
  text-align: center;
}
.items {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.item {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  
}
.item-image {
  margin-left: 30px;
}
.item-image p{
  text-align: center;
}
.item-info {
  display: flex;
  margin-top: 80px;
  margin-left: 100px;
  margin-right: 20px;
}
.producer {
  text-align: center;
}
.bubble03 {
  position: relative;
  display: inline-block;
  width: 600px; 
  color:#FFF;
  padding: 25px;
  background-color: #f39800;
  border-radius: 5px;
  height: 100px;
  margin-right: 10px;
}
.bubble03:before {
  content: '';
  position: absolute;
  display: block;
  z-index: 1;
  border-style: solid;
  border-color: transparent #f39800;
  border-width: 10px 0 10px 10px;
  top: 50%;
  right: -10px;
  margin-top: -10px;
}
.person {
  margin-left: 20px;
  margin-right: 30px;
}




.footer{
  background-color: green;
  width: 100%;
  position: absolute;
  bottom: 0; 
  padding: 30px 0;
}
.footer a {
  float :right;
  color :white;
}

item-show {
  background-color: #f8f8f8;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-box {
  background-color: #FFF;
  width: 70vw;
  min-width: 1200px;
  padding: 10vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-box>.name {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.item-box-img {
  height: 50vh;
  width: 60vw;
  min-height: 500px;
  background-color: rgb(205, 202, 202);
  object-fit: contain;
}
.description-box {
  display: flex;
  padding-top: 30px;
}
.producer {
  justify-content: space-around;
}

.bubble02 {
  position: relative;
  display: inline-block;
  width: 600px; 
  color:#FFF;
  padding: 25px;
  background-color: #f39800;
  border-radius: 5px;
  height: 100px;
  margin-left: 30px;
  margin-top: 20px;
}
.bubble02:before {
  content: '';
  position: absolute;
  display: block;
  z-index: 1;
  border-style: solid;
  border-color: transparent #f39800;
  border-width: 10px 10px 10px 0;
  top: 50%;
  left: -10px;
  margin-top: -10px;
}

.items-sell-contents {
  background-color: #f5f5f5;
  font-family: "Source Sans Pro", Helvetica, Arial, "æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“", "YuGothic", "ãƒ¡ã‚¤ãƒªã‚ª", "Meiryo", sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 500px;
}

.items-sell-header {
  padding: 5vh 0;
  text-align: center;
}

.items-sell-main {
  background-color: #FFF;
  width: 70vw;
  min-width: 450px;
  padding: 10vh 15vw;
}

.items-sell-title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

/* 共通 */
.indispensable {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.weight-bold-text {
  font-weight: bold;
  min-width: 170px;
  margin-bottom: 10px;
}

.select-box {
  height: 30px;
  width: 100%;
  background-color: #f5f5f5;
  padding-left: 20px;
}

.question {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #0099e8;
  color: #FFF;
  font-size: 13px;
  text-align: center;
  line-height: 20px;
  text-decoration: none;
  margin-left: 5px;
}

.question-text {
  display: flex;
}

/* /共通 */

/* 出品画像 */
.img-upload {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2vh 0;
}

.click-upload {
  margin: 15px 0;
  min-width: 250px;
}

.click-upload>p {
  margin-bottom: 15px;
}

/* /出品画像 */

/* 商品名と商品説明 */
.new-items {
  padding: 2vh 0;
}

.items-text {
  width: 100%;
  padding: 16px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

.items-explain {
  margin-top: 2vh;
}

/* /商品名と商品説明 */

/* 商品の詳細など */
.items-detail {
  display: flex;
  justify-content: space-between;
  padding: 2vh 0;
}

.items-detail>.form {
  width: 300px;
  padding: 2vh 0;
}

.select-box {
  margin: 2vh 0;
}

/* /商品の詳細など */

/* 販売価格 */
.sell-price {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.price-content {
  width: 300px;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-text {
  /* min-width: 170px; */
  display: flex;
  align-items: center;
}

.sell-yen {
  font-size: 18px;
}

.price-input {
  height: 30px;
  text-align: right;
  padding-right: 10px;
}

/* /販売価格 */

/* 注意書き */
.caution {
  padding: 5vh 0;
}

.sentence>a {
  color: #0099e8;
  text-decoration: none;
}

/* /注意書き */

/* 下部ボタン */
.sell-btn-contents {
  width: 100%;
  text-align: center;
}

.sell-btn {
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  width: 100%;
  height: 50px;
  font-size: 14px;
  margin-bottom: 4vh;
}

.back-btn {
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
  padding: 15px 35%;
  text-decoration: none;
}

/* /下部ボタン */

.items-sell-footer {
  background-color: #f5f5f5;
  width: 60vw;
  padding: 3ch 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.items-sell-footer>.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3vh 0;
}

.menu>li>a {
  color: black;
  font-size: 12px;
  margin: 2vw;
}

.inc {
  font-size: 13px;
}

.item-red-btn {
  text-align: center;
  background-color: #ea352d;
  font-size: 24px;
  font-weight: bold;
  color: #FFF;
  margin: 20px 0px;
  padding: 2vh 10vw;
}
.or-text {
  font-size: 20px;
}

.item-destroy {
  background-color: lightgray;
  text-align: center;
  font-size: 24px;
  color: black;
  margin: 20px 0px;
  padding: 2vh 10vw;
}
.search-form {
  margin-top: 20px;
}